server {
  listen 443 ssl;
  server_name localhost;

  ssl_certificate     /etc/nginx/certs/localhost.pem;
  ssl_certificate_key /etc/nginx/certs/localhost-key.pem;

  # -------------------------
  # (Opzionale ma consigliato) Security headers
  # -------------------------
  #impedisce di eseguire file malevoli come js
  #impedisce MIME sniffing, ad esempio file caricati come .txt non verrano eseguiti come js
  add_header X-Content-Type-Options "nosniff" always; 
  
  #impedisce di caricare la web app in iframe, cosi da imedire agli utenti di inviare dati a estranei
  add_header X-Frame-Options "DENY" always;
  
  # impedisce al brawser di inviare l'header "refer" --> invio della url di pagine precedentemente visitate
  add_header Referrer-Policy "no-referrer" always;
  
  #disabilita accesso a geolocation, microphone e fotocamera mentre visiti la web app
  add_header Permissions-Policy "geolocation=(), microphone=(), camera=()" always;

  # -------------------------
  # Backend API
  # -------------------------
  location /api/ {

    # --- CORS headers (sempre) ---
    #il brawser blocca tutte le pagine che provengono da un origine diverso da quello del server 
    add_header 'Access-Control-Allow-Origin' "$http_origin" always;
    
    #specifica i metodi consentiti per le richieste
    add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;

    #indica i tipi di header che il client può inviare
    add_header 'Access-Control-Allow-Headers' 'Authorization, Content-Type' always;

    #dice a brawser e proxy cache che la risposta dipende da Origin, metodo richiesto, header richiesti
    add_header 'Vary' 'Origin, Access-Control-Request-Method, Access-Control-Request-Headers' always;

    # --- Preflight (OPTIONS) ---
    #prima di effettuare una richiesta al server, viene inviata una richiesta al server con metodo OPTIONS, in cui si chiede al server
    #se può essere inviata una richiesta con questi metodi e questi header --> utile per evitare che altre tab del brawser possano inviare richieste al server
    if ($request_method = OPTIONS) {
      
      #dice al brawser per quanto tempo può ricordare il risultato del preflight --> 8400 secondi = 24 ore
      add_header 'Access-Control-Max-Age' 86400 always;

      #indica che il body è vuoto in questa richiesta di preflight
      add_header 'Content-Length' 0;

      #anche se il body è vuoto si specifica il tipo di header, in questo caso content-type. Perchè alcuni brawser se lo aspettando anche con body vuoto
      add_header 'Content-Type' 'text/plain; charset=utf-8';

      #tutto ok
      return 204;
    }

    #indica a Nginx dove inviare la richiesta ricevuta dal client
    proxy_pass http://backend:8080;

    #imposta come Host il valore contenuto in $host ossia localhost, altrimenti se $host è vuoto invierebbe le richieste a http://backend:8080 (non ha senso)
    proxy_set_header Host $host;

    #informa il server che la richiesta originale era HTTPS --> utile per spring Security
    proxy_set_header X-Forwarded-Proto https;

    #passa al backend l'ip originale del client --> utile per applicare rate limiting sul dispositivo client
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  # -------------------------
  # Frontend (SPA)
  # -------------------------
  #tutte le richieste che iniziano con '/' vengono gestite da questo blocco. Se una richiesta ha '/api/' --> inoltrata al backend, roba sua 
  location / {

    #inoltra richiesta al servizio in ascolto sulla porta 80, frontend --> nome del container 
    proxy_pass http://frontend:80;

    $host continene il dominio, in questo caso localhost
    proxy_set_header Host $host;

    # SPA fallback (React Router), tutti gli errori vengono rendirizzati non a page error 404 ma alla pagina index.html (pagina di boot di react)
    proxy_intercept_errors on;
    error_page 404 = /index.html;
  }
}
